@charset "UTF-8";

body {
    margin: 0px;
}
div, li, a {
    font-family: Helvetica; 
    color: rgb(96,94,94);                
    text-decoration: none;
}
a.link1:hover {
    color: rgb(205,202,206);
}

.content {
    width: 1194px;
}

.addrTop {
    margin-left: 12.5%;
    margin-top: 25px;
    font-size: 12px;
    line-height: 17px;
}
.titleTop {
    text-align: center;                
}            
.neviTop {
    border-top: solid 1px #E9E9E9;                
    height: 44px;      
    font-size: 12pt;             
    padding-left: 7.5%;
    text-align: center;
    margin-top: 52px;
}            
.neviTop li {
    display: inline;                
    padding-right: 12.5%;
    font-size: 13px;
    font-weight: bold;
}
.contentBody {
    overflow: hidden;                
    width: 1194px;
    height: 650px;
    background-image: url(http://www-scf.usc.edu/~jungbomp/images/image6.jpg);
    background-repeat: no-repeat;
    background-position: -365px 0px;
    background-attachment: fixed;
    background-size: 1940px auto;                
}
.contentBody2 {
    padding-top: 45px;
    padding-left: 11.1%;                
    overflow: hidden;
}
.contentBody2_Left {
    float: left;
    padding-top: 35px;                
}
.contentBody2_right {
    float: left;
    padding-left: 4%;
}            
.contentBody2Image {
    padding-top: 45px;
}                        
.contentBody3 {
    padding-top: 75px;
    padding-left: 133px;                
    position: relative;
}            
.orderOnlineBox {
    width: 390px;
    height: 140px;
    background-color: white;
    position: absolute;    
    left: 403px;
    top: 300px;
    text-align: center;
}            
.contentBody4 {
    margin-top: 45px;
    text-align: center;
}            
.contentBody5 {                
    height: 476px;                
    margin-top: 70px;
    overflow: hidden;
    background-image: url(http://www-scf.usc.edu/~jungbomp/images/image5.jpg);
    background-repeat: no-repeat;
    background-position: 8px -115px;
    background-attachment: fixed;
    background-size: 100%;
    opacity: 0.8;
}            
.footer {
    height: 215px;
    background-color: rgb(188,155,093);
    position: relative;
}
.footerText {
    position: absolute;
    top: 45px;
    left: 770px;
}            
.fontType1 {
    font-size: 55px;                
    color: rgb(188,155,093);
    letter-spacing: 11px;
}
.fontType2 {
    font-size: 30px;
    font-weight: bold;                
    color: rgb(188,155,093);
    font-style: italic;
    line-height: 40px;
    font-family: serif;
}                
.fontType3 {
    font-size: 11px;
    letter-spacing: 2px;
    line-height: 30px;
}
.fontType4 {
    font-size: 30px;                
    color: rgb(96,94,94);
    font-family: cursive;
}            
.fontType5 {
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 1px;
}            
.fontType6 {                
    color: rgb(47,46,46);
}            
.fontType7 {
    color: white;
    font-weight: bold;
    font-size: 13px;
}

.fontColor1 { color: rgb(188,155,093); }            

.wd330 { width: 330px; }
.wd360 { width: 360px; } 

.pdt07 { padding-top: 7px; }            
.pdt10 { padding-top: 10px; }
.pdt15 { padding-top: 15px; }
.pdt37 { padding-top: 37px; }
.pdt75 { padding-top: 75px; }            
.pdb52 { padding-bottom: 52px; }